@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');        body
        html{
            margin: 0;
        }

        body{
            margin: 0;
            padding: 0;
        }

        .lato
        {
            font-family: 'Lato', sans-serif;
        }

        .lora{  
            font-family: 'Lora';
        }

        .span-color
        {
            color: #FF4C29;;
        }

        .box{
            max-width: 1200px;
            margin: 0 auto;
        }

        .header
        {
            margin: 0px;
            padding: 0px;
            height: 150px;
            width: 100%;
            border-bottom: 1px solid black;
        }

        .header-box{
            max-width: 1440px;
            margin: 0 auto;
        }

        .brand
        { 
            width: 133px;
            height: 43px;
            
        }

        .brand p
        {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 32px;
            color: #000000;
            margin-top: 54px;
            margin-bottom: 48px;
            margin-left: 149px;
            display: inline-block;
            
        }

        .navbar
        {   
            width: 550px;
            display: inline-block;
            margin-left: 470px;
           
        }

        .navbar__list
        {
            width: 532px;
            height: 20px;
            margin-top: 25px;
        }

        .navbar__list li
        {
            float: left;
            list-style-type: none;
            padding-right: 40px;
            height: 19px;
        }


        .navbar__list li a
        {
            text-decoration: none;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 16px;
            color: #000000;
         
        }

        .navbar__list li:first-child a
        {
            font-weight: bolder;
        }

        

        .login
        {
            float: right;
            clear: both;
        }

        .login p
        {
            margin-top: 25px;
            margin-right: 154px;
            font-family: 'Lato', sans-serif;
            font-weight: bolder;
            font-size: 16px;
            color: #000000;
            display: inline-block;
        }

        .introduction
        {
            height: 600px;
            padding-top: 80px;
        }

        .content-box, .needs
        {
            max-width: 1200px;
            margin: 0 auto;
            height: 437px;
        }

        .introduction__image img
        {
            float: left;
            position: absolute;
            width: 614px;
            height: 461px;
        }


        .introduction__description
        {
            float: right;
            margin-top: 30px;
        }

        .introduction__description h1
        {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: capitalize;
            color: #334756;
        }

        .introduction__description p
        {
            width: 396px;
            height: 80px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #667580;
            font-weight: bold;
        }

        .introduction__description button
        {
            padding: 5px 20px;
            width: 170px;
            height: 48px;
            margin-right: 20px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            background-color: #ff6041;
            color: #ffffff;
            border: none;
        }

        .introduction__description button:nth-child(2)
        {
            color: #000000;
            background-color: #ffffff;
            border: 1px solid #000000;
        }

        .introduction__buttons
        {
            margin-top: 40px;
        }   

        .browse__header { 
            display: inline; 
            height: 43px;       
        }

        .browse__header h2
        {
            text-transform: capitalize;
            display: inline;
            width: 411px;
            height: 43px;
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 32px;
            line-height: 43px;
            color: #2C394B;
            float: left;
        }

        .browse__box
        {
            display: inline;
            float: right;   
        }

        .browse__box p
        {
            width: 500px;
            height: 54px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #667580;
        }

        .browse__box--needs
        {
            display: inline;
            float: right;
            
        }

        .browse__box--needs p{
            width: 450px;
            height: 64px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            color: #667580;
        }

        .clear
        {
            clear: both;
        }

        .card{
            height: 264px;
            width: 355px;
            margin-top: 61px;
            background-color: #2C394B;
            display: inline-block;
            margin-left: 60px;
        }

        .card-left{
            margin-left: 0px;
        }

        .card img{
            height: 200px;
            width: 100%;
        }


        .card-details
        {
            padding: 15px 16px;
        }
        

        .card-details span
        {
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            line-height: 140%; 
        }

        /* .card-hover{
            width: 355px;
            margin: 0;
            height: 200px;
            width: 100%;
            text-align: center;
            background-color: #2C394B;
        }

        .hover-title{
            max-width: 274px;
            height: 22px;
            margin: 0 auto;
            color: #efefef;
            font-weight: bold;
        }

        .hover-description
        {
           
            height: 52px;
        }

        .hover-title span{
            margin-top: 40px;
        }

        .hover-description p{
            width: 274px;
            color: #c2c2c2;
            padding: 35px 0px;
        } */


        .needs{
            margin-top: 150px;
        }

        .needs-description{
            margin-top: 62px;
        }

        .needs-list li
        {
            list-style-type: none;
            color: #334756;
            padding: 14px 24px;
            font-size: 24px;
            font-weight: bolder;
            width: 237px;
        }

        .needs-list li:hover
        {
            background-color: #ff6041;
        }

        .needs-list{
            float: left;
            width: 50%;
            text-align: left;
        }

        .needs-description img{
            width: 587px;
            height: 351px;
            float: right;
        }

        /* .location{
            margin-top: 80px;
            width: 100%;
            height: 501px;
            background: #F7F7F7;
            position: relative;
        }

        .location-all
        {
            max-width: 1440px;
            margin: 0 auto;
            /* position: absolute;
            top: 93px;
            left: 51px; */
        /* }

        .location-box img{
            width: 810px;
            height: 315px;
            position: absolute;
            top: 93px;
            left: 51px;
        }

        .location__description
        {
            position: absolute;
            left: 920px;
            top: 50px;
        } */ 

        .location{
            margin-top: 80px;
            width: 100%;
            /* height: 501px; */
            background: #F7F7F7;
            /* position: relative; */
        }

        .location-all{
            max-width: 1440px;
            margin: 0 auto;
            /* position: absolute;
            top: 93px;
            left: 51px;  */
         }

        .location-box img{
            width: 810px;
            height: 315px;
            padding: 92px 0px;
            float: left;
            /* position: absolute;
            top: 93px;
            left: 51px; */
        }

        .location__description{
            float:left;
            padding: 45px;
            /* position: absolute;
            left: 920px;
            top: 50px; */
        } 

        .location-more a{
            text-decoration: none;
            color: #086DE0;
            font-size: 20px;
        }

        .location-more-down a{
            text-decoration: none;
            color: #086DE0;
            font-size: 20px;
            display: none;
        }

        .testimonial{
            margin-left: 150px;
            padding-top: 80px;
            margin-bottom: 50px;
            /* height: 434px; */
            max-width: 1200px;
            margin: 0 auto;
        }

        /* .testimonial-all{
            max-width: 1200px;
            margin: 0 auto;
        } */

        .testimonial h2{
            font-size: 32px;
        }

        .testimonial-items{
            position: relative;
            float: left;
            margin-right: 20px;
            margin-top: 30px;
        }

        .testimonial-items-right{
            margin-right: 0;
        }

        .testimonial-box{
            width: 385px;
            height: 258px;
            background: #334756;
        }

        .testimonial-box i{
            padding: 24px 0px 0px 30px;
            position: absolute;
            z-index: 1;
        }

        .testimonial-statement p{
            color: #ffffff;
            position: absolute;
            z-index: 2;
        }

        .testimonial-statement
        {
            width: 329.94px;
            height: 44px;
            position: absolute;
            top: 41px;
            left: 34px;
        }

        .swipe a{
            font-weight: bolder;
            text-decoration: none;
            color: #086DE0;
            font-size: 20px;
            display: none;
        }

        .testimonial-footer{
            position: absolute;
            width: 134px;
            height: 39px;
            left: 34px;
            top: 189px;
        }

        .testimonial-footer img{
            position: absolute;
            width: 32px;
            height: 32px;
        }

        .client-info{
            width: 171px           ;
            height: 39px;
            color: #ffffff;
            position: absolute;
            left: 60px;
           
        }

        .swipe{
            display: none;
        }

        .client-info h3{
            font-size: 16px;
            margin: 0px;
        }

        .client-info span{
            font-size: 12px;
        }

        .clients{
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 90px;
            position: relative;
            height: 240px;
        }

        .clients-showcase{
            text-align: center;
        }

        .clients-showcase h1{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: capitalize;
            color: #334756;
        }

        .clients-showcase p{
            width: 584px;
            /* height: 36px; */
            /* text-align: center; */
            color: #667580;
            position: absolute;
            left: 320px;    
            margin: 0px;
        }

        .clients-logo{
            margin-top: 140px;
            text-align: center;
            /* margin-left: 50px; */
        }

        .clients-logo span{
            width: 206px;
            height: 40px;
            margin-left: 80px;
            
        }

        .trends{
            max-width: 1200px;
            margin: 0 auto;
            height: 900px;
            margin-top: 120px;
        }

        .trends h1{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
            text-transform: capitalize;
            color: #334756;
        }

        .trend-box{
            margin-top: 40px;
        }

        .trend-item{
            width: 360px;
            height: 355px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            float: left;
            margin-left: 50px;
            margin-bottom: 40px;
        }

        .trend-item img{
            width: 360px;
            height: 240px;
        }

        .trend-title{
            padding: 23px 44px 44px 23px;
            color: #334756;
        }

        .trend-title h4{
            margin: 0px;
            font-weight: bolder;
            size: 20px;
        }

        .nomargin{
            margin-left: 0px;
        }

        .footer{
            /* height: 400px; */
            background: #F7F7F7;
            padding: 80px 117px;
            margin-top: 80px;
        }

        .footer-box{
            max-width: 1200px;
            margin: 0 auto;
        }

        .footer-section h1{
            font-family: Playfair Display;
            font-size: 48px;
            width: 193px;
            height: 53px;
        }

        .footer-section{
            float: left;
            margin-right: 100px ;
        }

        .footer-section i{
            margin-right: 10px;
            
        }

        .footer-location{
            margin-top: 56px;
        }

        .footer-section ul{
            list-style-type: none;
        }

        .footer-section a{
            text-decoration: none;
            color: #242a2e;
        }

        .footer-section li{
            padding: 10px 0px;
            font-size: 16px;
        }
        
        .footer-section li:first-child{
            padding: 25px 0px;
            font-size: 20px;
        }

        .footer__link--unique{
            font-weight: bolder;
        }

        .footer__link--unique a{
            color: #086DE0;
        }

        .footer-section-right{
            text-align: right;
            margin-right: 0px;
        }

        .footer-section-right li:nth-child(3){
            margin-top: 40px;
        }

        .fa-facebook, .fa-instagram{
            padding-right: 5px;
        }

        .copyright{
            width: 600px;
            height: 30px;
            margin: 0 auto;
            margin-top: 50px;
            border-top: 1px solid black;
            text-align: center;
        }

        /* .checkbtn{
            font-size: 30px;
            color: #000000;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }

        #check{
            display: none;
        } */

        @media only screen and (max-width: 768px){
            /* .checkbtn{
                display: block;
            }

            .navbar ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #2c3e50;
                top: 80px;
                left: -100%;
                text-align: center;
                transition: all .5s;
            }

            navbar ul li{
                display: block;
                margin: 50px 0;
                line-height: 30px;
              }
              navbar ul li a{
                font-size: 20px;
              }
              a:hover,a.active{
                background: none;
                color: #0082e6;
              }
              #check:checked ~ ul{
                left: 0;
              } */

            .header{
                margin: 0px;
                height: 90px;
                border-bottom: none;
            }

            .brand{
                width: 100%;
                
            }

            .brand p{
                font-size: 32px;
                color: #000000;
                margin-top: 14px;
                margin-bottom: 33px;
                margin-left: 121px;
                
            }

            .navbar
            {   
                width: 550px;
                display: inline-block;
                margin-left: 470px;
            }


            /* .navbar, .login{
                display: none;
            } */

            .introduction{
                padding: 0px;
                height: 685px;
            }

            .introduction__image{
                width: 100%;
            }

            .introduction__image img{
                width: 100%; 
                height: 282px;
            }

            .introduction__image img{
                position: static;
            }

            .introduction__description{
                margin: 0px;
            }

            .introduction__description, .introduction__description p{
                width: 95%;     
            }

            .introduction__description h1{
                font-size: 27px;    
            }

            .introduction__description button{
                width: 95%;
            }

            .introduction__description button:nth-child(2)
            {
                margin-top: 20px;
            }

            .introduction__buttons
            {
                margin-top: 20px;
            }   

            .browse{
                background-color: #F6F6F6;
                margin-top: 40px;
            }

            .content-box{
                width: 95%;
                margin: 0 auto;
                padding: 32px 0px;
                padding-top: 0px;
            }

            .browse__header h2, .browse__box{
                float: none;
            }

            .browse__box p{
                width: 95%;
                font-weight: normal;
            }

            .card{
                margin-left: 0px;
                margin-top: 24px;
            }

            .needs{
                padding-top: 40px;
                width: 335px;
                margin: 0 auto;
            }

            .needs-description{
                margin-top: 0px;
            }

            .browse__header h2{
                font-size: 27px;
            }

            .needs-list li{
                text-align: center;
            }

            .needs-list ul{
                padding-left: 0px;
                padding-bottom: 40px;
            }

            .browse__box--needs p{
                display: block;
                width: 335px;
            }

            .needs-description img{
                display: none;
            }

            .location__description h1{
                font-size: 27px;
                font-family: 'Lora';
            }

            .location{
                margin: 0 auto;
                position: relative;
                padding-top: 30px;
                padding-bottom: 20px;
                background: #F7F7F7;
                height: 450px;
            }

            .location__description{
                position: static;
            }

            .location-box img{
                width: 375px;
                height: 146px;
                position: absolute;
                top: 220px;
                left: 0px;
            }

            .location-more a{
                display: none;
            }

            .location-more-down a{
                display: block;
                position: absolute;
                top: 404px;
                left: 21px;
                font-weight: bolder;
            }

            .testimonial{
                margin: 0 auto;
                padding-left: 20px;
                padding-top: 30px;
                position: relative;
            }

            .testimonial h2{
                font-size: 27px;
            }

            .testimonial-box{
                width: 335px;
            }

            .testimonial-statement
            {
                width: 261px;
            }

            /* .client-info{
                 width: 300px; 
               
            } */

            .testimonial-items-desktop{
                display: none;
            }

            .swipe a{
                display: block;
                position: absolute;
                top: 470px;
            }

            .clients{
                background-color: #E5E5E5;
            }

            .clients-showcase{
                max-width: 89.3333333333%;
                margin: 0 auto;
                padding: 28px 24px;
            }

            .clients-showcase h1{
                font-size: 27px;
                text-align: left;
            }

            .clients-showcase p{
                text-align: left;
                color: #667580;
                position: static;
            }

            .clients-logo{
                margin-top: 40px;
                /* width: 55.5546666667%;*/
                margin: 0 83px; 
            }

            .clients-logo span{
                display: block;
                margin: 0 auto;
                margin-top: 32px;
                
            }

            .trends{
                max-width: 89.3333333333%;
                margin: 0 auto;
                margin-top: 40px;
            }
    
            .trends h1{
                font-size: 27px;
                font-weight: bolder;
            }

            .trend-item{
                width: 100%;
                margin-bottom: 40px;
                float: none;
                margin-left: 0px;
            }

            .trend-item img{
                max-width: 100%;
            }

            .trend-item-mobile{
                display: none;
            }

            .footer-section-mobile{
                display: none;
            }

            .footer{
                padding: 0;
                padding-bottom: 60px;
            }

            .footer-box{
                max-width: 89.3333333333%;
                margin: 0 auto;
            }

            .copyright{
                width: 93.7313432836%;
                margin: 0;
                margin-top: 20px;
                border-top: 1px solid black;
                text-align: center;
            }

            .footer-section li{
                padding: 0;
                font-size: 16px;
            }

            .footer-section-right li:nth-child(3){
                margin-top: 0px;
            }

            .footer-section ul{
                padding: 0;
            }

            .footer-section i{
                margin-right: 20px;
            }

            /* .card-hover{
                width: 355px;
                margin: 0;
                height: 200px;
                width: 100%;
                text-align: center;
                background-color: #2C394B;
            }
    
            .hover-title{
                max-width: 274px;
                height: 22px;
                margin: 0 auto;
                color: #efefef;
                font-weight: bold;
            }
    
            .hover-description{
                height: 52px;
            }
    
            .hover-title span{
                margin-top: 40px;
            }
    
            .hover-description p{
                width: 274px;
                color: #c2c2c2;
                padding: 35px 0px;
            }   */
    


    
            

            

            
             

        
        }

       
