@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: #5956e9; */
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.wrapper{
    /* max-width: 700px; */
    max-width: 500px;
    margin: 0 auto;
}

.header{
    background-image: url(./images/bg-mobile.png);
    background-size: cover;
    padding: 30px 20px;
}

.header-menu{
    display: none;
}

.header-center img{
    font-size: 47px;
}

.topbar{
    margin: 0 auto;
    text-align: center;
}

.header-left{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}

.header-center{
    background-color: #ffffff;
    padding: 20px 15px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}


.contact-info{
    color: #ffffff;
    width: 89.1927%;
    display: none;
}

.float-right{
    float: right;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    padding-top: 18px;
    padding-right: 10px;
}

.clear{
    clear: both;
}

.i-header, .span-header{
    color: #ffffff;;
}

.intro{
    padding-top: 70px;
    position: relative;
    margin-top: 50px;
}

.rectangle{
    border: 10px solid #ffffff;
    width: 81.1333333333%; 
    height: 78%;
    opacity: 0.3;
    position: absolute;
    left: 15px;
    padding:20px;
    z-index: 1;
}

.intro-content{
    background-color: #ffffff;
    padding: 25px 18px;
    margin: 0;
    width: 86.1333333333%;
    position: relative;
    top: 20px;
    z-index: 3;
}

.intro-content h1{
    text-transform: uppercase;
    font-weight: 600;
    color: #5956e9;
    font-size: 25px;
    padding-bottom: 18px;
    line-height: 37.5px;
}

.common-grey{
    color: #6c6c72;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.intro-cta{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}

.common-black{
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

.intro-image img{
    width: 110px;
    height: 35px;
}

.mobile-ui{
    padding: 100px 0px 120px 30px;
} 

.about{
    text-align: center;
    margin: 0 auto; 
}

.about-intro{
    margin-bottom: 40px;
    padding: 60px 16px 0px 16px;
}

.about h2{
    line-height: 37.5px;
}

.about-p{
    padding: 20px 20px 0px 20px;
}

.about img{
    position: relative;
    z-index: 3;
    top: 40px;
}

.ellipse{
    width: 220px;
    height: 71px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    margin:0 auto;
    margin-bottom: 40px;
}

.about-common{
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 18px;
    margin: 20px 16px;
    text-align: left;
}

.about-desc-i{
    color: #5d5ae9;
    float: left;
    padding-top: 5px;
}

.about-desc-content{
    float: right;
    width: 85.5510204082%;
}

.about-desc-content h2{
    line-height: 30px;
    font-size: 20px;
}

.download{
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
}

.download-link-span{
    padding-top: 40px;
    padding-bottom: 50px;
}

.download-link-span img{
    width: 151px;
    height: 45px;
}

.download h2{
    font-size: 25px;
    width: 74.8051948052%;
    padding-bottom: 18px;
    text-align: left;
    line-height: 37.5px;
}

.download-p{
    text-align: left;
}

.download-link-span a:first-child{
    padding-right: 20px;
}

.rate-box{
    width: 28.8704663212%;
    background-color: #5d5ae9;
    height: 110px;
    background: #5956E9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.download-rates div:first-child{
    margin-right: 16px;
}

.download-rates div:nth-child(2){
    margin-right: 16px;
}

.rate-box i{
    margin-bottom: 10px;
}

.rate-box p:nth-child(2){
    font-size: 20px;
    line-height: 30px;
}

.rate-box p:nth-child(3){
    font-size: 16px;
    line-height: 24px;
}

.ui-modes{
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    top: 35px;
}

.ellipse-gravity{
    width: 137.42px;
    height: 46.02px;
    margin-bottom: 60px ;
}

.use-app{
    background-color: #5d5ae9;
    padding-top: 60px;
    text-align: center;
}

.use-app h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 40px;
}

.use-app p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 0px 38px;
}

.video-mock{
    width: 91.4666666667%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.video-mock img{
    position: relative;
    top: -20px;
}

.circle-video{
    position: absolute;
    margin-left: 120px;
    top: 110px;
    z-index: 1;    
}

.circle-video div:first-child{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.3;
    position: absolute;
}

.circle-video div:nth-child(2){
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    left: 5px;
    top: 5px;
}

.circle-video div:nth-child(3){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    position: absolute;
    left: 10px;
    top: 10px;
}

.circle-video i{
    color: #5d5ae9;
    position: absolute;
    left: 25px;
    top: 25px;
}

.team{
    width: 93.3333333333%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    margin-bottom: 90px;
}

.team-title{
    line-height: 37.5px;
    margin-bottom: 18px;
}

.team-description{
    width: 87.4635568513%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.members{
    
    margin: 0 auto;
}

.member{
    width: 91.4666666667%;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 15px 50px 15px; 
    margin-bottom: 30px;  
}

.member-pic{
    border: 4px dashed #5d5ae9;
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 65px;
}

.member-description h2{
    font-weight: bold;
    font-size: 31.25px;
    line-height: 47px;
    color: #232233;
}

.member-description h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6C6C72;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.member-description p:after{
    content: " Viverra nunc ante velit vitae. Est tellus vitae.";
}

.member-description p{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.social-media span{
    color: #000000;
    padding: 5px 30px;
    border-right: 2px solid #9a9a9e;
}

.social-media span:first-child{
    padding-left: 0;
}

.social-media span:nth-child(4){
    padding-right: 0px;
    padding-left: 20px;
    border: none;
}

.social-media i:hover{
    color: #5d5ae9;
}

.blog-wrapper{
    width: 93.3333333333%;
    margin: 0 auto;
}

.blog-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #232233;
    text-align: center;
    margin-bottom: 18px;
}

.blog-desc{
    text-align: center;
    width: 87.4635568513%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.blog{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: left;
}


.blog img{
    margin: 0 auto;
    width: 100%;
}

.blog-post{
    padding: 30px 18px;
}

.blog-post h3{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
}

.blog-post p{
    margin-bottom: 20px;
}

.blog-post a{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #5956E9;
}

.contact{
    width: 91.4026666667%;  
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-bottom: 30px;
    position: relative;
    top: 150px;
    z-index: 1;
}

.contact-mail{
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-mail:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 50%; 
    padding-top: 20px;
    border-bottom: 4px solid black;
}

.contact-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5956e9;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-circle i
{
    position: absolute;
    top: 16px;
    left: 15px;
}

.contact-common{
    font-size: 20px;
    line-height: 30px;
    color: #232233;
    text-align: center;
}


.footer{
    background-color: #232233;
    color: #ffffff;
}

.footer-content{
    width: 91.4666666667%;
    margin: 0 auto;
}

.logo-intro{
    padding-bottom: 60px;
    padding-top: 220px;
}

.footer-social i{
    color: #ffffff;
}

.footer-social i:hover{
    color: #5956e9;
}

.footer-social span{
    border-color: #ffffff;
    border-width: 1px;
    padding: 2px 32px;
}

.logo-intro h3{
    font-weight: bold;
    font-size: 31.25px;
    line-height: 47px;
    text-transform: uppercase;
}

.common-footer-para{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.common-footer-para::after{
    content: " Est tellus vitae, nullam lobortis enim";
}

.common-footer-heading{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.footer-links li{
    list-style-type: none;
    padding-bottom: 12px;
}

.footer-links a{
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.footer-links{
    padding-bottom: 60px;
}

.footer-input input
{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
    color: #9f9fa2;
    padding: 13px 17px;
    font-family: Josefin Sans;
    box-sizing: border-box;
}

.footer-input button{
    padding: 15px 15px;
    background-color: #5956E9;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    float: right;
    position: relative;
    top: -48px;
    left: -2px;
}

.footer-input{
    padding-bottom: 60px;
}

.copyright{
    padding: 30px 30px;
    border-top: 1px solid #ffffff;
}

.copy-detail{
    font-weight: 300;
    font-size: 12.8px;
    line-height: 13px;
    text-align: center;
    font-style: normal;
}

/*media query*/

@media only screen and (max-width: 370px) {
    img{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-menu{
        display: none;
    }

    .rectangle{
        border: 5px solid #ffffff;
    }

    .mobile-ui{
        padding-left: 0px;
    }
}

@media only screen and (min-width: 768px) {

    .wrapper{
        max-width: 900px;
        margin: 0 auto;
    }

    .header-menu{
        display: none;
    }

    .header{
        background-image: url(./images/bg-tablet.png);
        background-size: cover;
        padding: 25px 33.5px;
    }

    .contact-info{
        display: block;
        padding-bottom: 20px;
        width: 98.9583333333%;
        margin: 0 auto;
        line-height: 24px;
    }

    .contact-center{
        text-align: center;
        /* display: inline-block; */
        margin: 0 auto;
        color: #ffffff;
        font-size: 16px;
    }

    .header-left{
        padding-top: 18px;
        padding-left: 0;
    }

    .contact-center span{
        display: inline-block;
    }

    .contact-head-right{
        /* display: inline-block; */
        float: right;
    }

    .contact-head-right i{
        color: #ffffff;
        padding-left: 12.38px;
    }

    .contact-head-common i{
        padding-right: 20.25px;
    }

    .contact-left{
        padding-right: 50.25px;
    }

    .topbar{
        width: 93.75%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .span-header{
        font-size: 20px;
        line-height: 30px;
    }

    .float-right{
        padding-right: 0;
    }

    .header-center{
        margin-left: 100px;
    }

    .header-center img{
        content: url('images/logo-tablet.png');
    }

    .intro-content{
        margin-top: 5px;
    }

    .rectangle{
        border-width: 15px;
        height: 51%;
    }

    .combine-intro{
        padding-top: 120px;
    }

    .intro{
        display: inline-block;
        width: 55.3541666667%;
        padding-bottom: 220px;
    }

    .intro-content h1{
        font-size: 31.25px;
        line-height: 47px;
    }

    .mobile-ui{
        content: url('images/mobile-ui-tab.png');
        float: right;
        padding-bottom: 0;
    }

    .about{
        padding: 0px 30px;
    }

    .about-intro{
        width: 62.59375%;
        margin: 0 auto;
    }

    .about-images{
        float: left;
    }

    .about-desc{
        width: 58.9114583333%;
        float: right    ;
    }

    .about-p{
        padding: 0;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .about-p::after{
        content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus.";
    }

    .download{
        margin: 0 auto;
       text-align: center;
       padding: 100px 30px;
    }

    .download-desc
    {
        width: 47.96875%;
        float: left;
        text-align: left;
    }

    .ui-modes{
        width: 100%;
    }

    .download-link-span img{
        width: 149px;
    }

    .download-desc h2{
        font-weight: bold;
        font-size: 31.25px;
        line-height: 47px;
        width: 58.59375%;
    }
 
    .download-img{
        width: 40.6197916667%;
        float: right;
    }

    .use-app{
        margin-bottom: 230px;
    }

   .use-app h2{
       width: 50.59375%;
       margin: 0 auto;   
       padding-bottom: 20px;
   }

   .use-app p{
    width: 58.59375%;
    margin: 0 auto;
}

   .use-app p:after{
       content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus.";
   }

   .video-mock img{
       width: 74.21875%;
       position: relative;
       top: -90px;
   }

   .circle-video{
       position: absolute;
       left: 180px;
   }
   
   .common-h2{
       font-size: 31.5px;
   }

   .common-p{
        width: 60.59375%;
   }

   .team-description:after{
       content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus.";
    }

    .member{
        width: 26.734375%;
        display: inline-block;
        margin-right: 15px; 
    }

    .members div:nth-child(3)
    {
        margin-right: 0;
    }

    .member-pic{
        width: 75.117370892%;
    }

    .member-description h2{
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 9px;
    }

    .member-description h3{
        font-size: 16px;
        line-height: 24px;
    }

    .member-description p::after{
        content: "";
    }

    .social-media span{
        padding: 5px 15px;
    }

    .social-media span:nth-child(4){
        padding-left: 15px;
    }

    .social-media i:hover{
        color: #5956E9;    
    }

    .social-media i{
        color: #000000;
    }

    .blog-desc::after{
        content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus.";
    }

    .blog{
        width: 30.734375%;
        display: inline-block;
        margin-right: 15px;
    }

    .blog-post h3{
        word-break: break-all;
    }

    .contact-mail, .contact-phone{
        display: inline-block;
    }

    .contact-mail:after{    
        border-bottom: none;
        padding: 0;
    }

    .contact-mail{
        border-right: 2px solid #6C6C72;
        width: 48%;
        padding: 0;
    }

    .contact span{
        text-transform: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .contact-circle{
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-bottom: 0;
        position: relative;
    }

    .contact-circle i{
        left: 20px;
        top: 20px;
    }

    .contact-common span{
        position: absolute;
        top: 60px;
        padding-left: 20px;
    }

    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
        top: 80px;
    }

    .contact-common{
        text-align: left;
        padding-left: 18px;
    }

    .logo-intro{
        width: 30.6458333333%;
        display: inline-block;
    }

    .footer-social i{
        color: #ffffff;;
    }

    .common-footer-para::after{
        content: "";
    }

    .footer-links{
        display: inline-block;
        padding-left: 25px;
        padding-right: 80px;
    }

    .newsletter{
        display: inline-block;
        width: 30.6458333333%;
    }


    .copyright{
        text-align: center;
        border-top: 1px solid #ffffff;
    }

    .footer-input{
        padding-top: 10px;
    }
}

@media only screen and (min-width: 1440px) {

    .wrapper{
        max-width: 2000px;
        margin: 0 auto;
        width: 100%;
    }

    .header{
        background-image: url(images/bg-desktop.png);
        background-size: cover;
        padding-right: 0;
    }

    .header-menu{
        display: block;
    }

    .header-center-tab{
        display: none;
    }

    .topbar{
        width: 69.0972222222%;
        padding-right: 135px;
        padding-left: 290px;
    }

    .float-right{
        padding-left: 40px;
    }

    .header-left{
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 18px;
        padding-right: 10px;
    }

    .contact-info{
        width: 81.25%;
    }

    .header-center{
        margin: 0;
    }

    .header-left{
        padding-right: 40px;
    }

    .combine-intro{
        padding-left: 135px;
    }

    .intro-content{
        padding: 40px 30px;
        width: 75%;
        padding-right: 0;
    }

    .intro-content h1{
        font-weight: bolder;
        font-size: 48.83px;
        line-height: 63px;  
    }

    .intro-description::after{
        content: " Exercitation veniam consequat sunt nostrud amet.";
    }

    .intro-description{
        width: 88.4385964912%;
    }

    .intro-cta{
        font-size: 25px;
        line-height: 37px;
    }

    .intro-image img{
        width: 151px;
        height: 45px;
    }

    .rectangle{
        width: 72.1333333333%;
        height: 58%;
    }

    .mobile-ui{
        content: url("images/mobile-ui-desktop.png");
        padding: 0;
    }

    .about-intro h2{
        font-size: 31.5px;
        margin-top: 100px;
    }

    .about-p::after{
        content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.";
    }

    .about-p{
        width: 66.7361111111%;
        margin: 0 auto;
    }

    .about-description{
        width: 95.4444444444%;
        margin: 0 auto;
    }

    .about-desc-content p:after{
        content: " Viverra nunc ante velit vitae. Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit.";
    }

    .about-common{
        width: 70%;
        margin-right: 0;
        margin-bottom: 40px;
        padding-bottom: 20px;
        margin-left: 100px;
    }

    .about-images{
        padding-left: 80px;
        margin-right: 50px;
    }

    .about-images img{
        content: url(images/smartphone-desktop.png);
        top: 55px;
    }

    .about-desc-content h2{
        padding-bottom: 16px;
    }

    .about-desc{
        float: right;
    }

    .download{
        width: 80.9722222222%;
    }

    .download-desc{
        text-align: left;
    }

    .download-desc h2{
        width: 100%;
        font-size: 31.25px;
        line-height: 47px;
    }

    .download-p:after{
        content: " Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.";
    }

    .download-p{
        width: 96.9387755102%;
    }

    .rate-box p{
        text-transform: uppercase;
        padding: 10px; 
    }

    .rate-box p:nth-child(3){
        font-size: 20px;
    }

    .rate-box{
        height: 160px;
        padding-top: 20px; 
        width: 30.659%;
    }

    .use-app{
        background: url("images/use-app-bg.png");
        margin-bottom: 300px;
    }

    .use-app h2{
        padding-top: 30px;
    }

    .use-app p:after{
        content:" Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.";
    }

    .use-app p{
        width: 40%;
        margin-bottom: 40px;
    }

    .video-mock img{   
        content: url("images/video-mock-desk.png");  
    }

    .circle-video{
        left: 500px;
    }

    .common-p:after{
        content: " Est tellus vitae, nullam lobortis enim. Faucibus amet etiam tincidunt rhoncus, ullamcorper velit. Ullamcorper risus tempor, ac nunc libero urna, feugiat.";
    }

    .common-p{
        width: 45.7192982456%;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .member-description h2{
        font-size: 31.25px;
        line-height: 47px;
    }

    .member-description h3{
        font-size: 20px;
    }
    
    .member-description p:after{
        content: " Viverra nunc ante velit vitae. Est tellus vitae.";
    }

    .member-description p{
        padding: 14px 22px;
    }

    .social-media span{
        padding-left: 32px;
        padding-right: 32px;
    }

    .blogs{
        text-align: center;
    }

    .blog{
        width: 27.4561403509%;
        margin-right: 30px;
    }

    .contact{
        width: 83.25%;
    }

    .contact-common span{
        font-size: 25px;
        font-weight: bolder;
        top: 80px;
    }

    .contact-circle{
        width: 100px;
        height: 100px;
    }

    .contact-circle i{
        font-size: 30px;
        top: 35px;
        left: 30px;
    }

    .contact{
        border-radius: 20px;
    }

    .footer-content{
        width: 83.25%;
    }

    .logo-intro p:after{
        content: " Est tellus vitae, nullam lobortis enim.";
    }

    .logo-intro{
        width: 27.47008547%;
        padding-right: 66px;
    }

    .footer-links{
        padding-right: 246px;
    }
}