@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lalezar&family=Skranji:wght@700&display=swap');
body{
    margin: 0;
}

.header{
    padding: 20px;
    height: 20px;
    border-bottom: 1px solid rgb(199, 198, 198); 
    box-shadow: 2px 3px whitesmoke;
   
}

.header__hamburger {
    float: left;
    color: #000000;
}


.header__user {
    float: right;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.secondHeader{
    padding: 15px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(23, 23, 23, 0.7)), url(../images/bg.jpg), rgba(0, 0, 0, 0.551);
    /* background-color: ; */
    background-repeat: no-repeat;
    background-size: cover;
}


.secondHeader h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 50px;
    font-weight: 600;
    color: #efc942;
}

.header__date{
    color: #efc942;
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.create-post-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.createPosts {
    
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px 0px;
    /* margin-left: 30%; */
}

.createPosts a{
    color: #efc942;
}

@media only screen and (min-width: 768px) {
    .header--container {
        max-width: 1440px;
        margin: 0 auto;
        
    }

    .create-post-container {
        width: 20%;
        margin: 0 auto;
        text-align: center;
    }
}


/* @media only screen and (min-width: 1440px) {
    .header--container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .createPosts {
        margin-left: 45%;
    }
} */